<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Django Forms</title>
<link rel="stylesheet" href= "{% static 'css/index.css' %}"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href= "{% static 'css/index.css' %}"/>

<head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">DjangoBaseTemplate</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'index' %}">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

<div class = "container">

{% block body_block %}

 {% comment %} child template codes here {% endcomment %}

{% endblock body_block %}

</body>
</html>